.jumbotron {
  padding-top: 6rem;
  background-color: rgb(164, 185, 184);
}
#about {
  background-color: #41b3e7;
}
#gallery {
  background-color: rgb(164, 185, 184);
}
#contactme {
  background-color: #41b3e7;
}
section {
  padding-top: 5rem;
}
